<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery page</title>

    {% load static %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">

</head>
<body>

<h1>Our Products!</h1>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cumque ducimus eligendi, facere ipsa minima sint! Accusantium consectetur deleniti, dolorum ea eos est eum, facere laudantium magnam, quaerat quod recusandae.</span><span>Aliquid blanditiis commodi cupiditate dolores, doloribus ea hic id, iure iusto laudantium neque non nulla rerum sunt tempora ullam, voluptates. Ad dolores fugiat ipsum odit quae quo repellendus voluptas voluptatem!</span><span>Accusamus animi asperiores aspernatur assumenda autem, delectus doloremque eaque earum eos magni natus officiis, quaerat reiciendis repellat similique unde velit, voluptatum! Deleniti et facere ipsum odit quam quasi qui sed.</span></p>

<img src="{% static 'assets/m1.jpeg' %}" alt="">
<img src="{% static 'assets/m2.jpeg' %}" alt="">
<img src="{% static 'assets/m3.jpeg' %}" alt="">
<img src="{% static 'assets/m4.jpeg' %}" alt="">
<img src="{% static 'assets/m5.jpeg' %}" alt="">
<img src="{% static 'assets/m6.jpeg' %}" alt="">
<img src="{% static 'assets/m7.jpeg' %}" alt="">
<img src="{% static 'assets/m8.jpeg' %}" alt="">






</body>
</html>