<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services page</title>

{% load static %}

<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>






</head>
<body>
    
<h1 class="text-center text-danger">Our Services</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore dignissimos praesentium impedit recusandae. Aliquid nemo modi amet! Perferendis odio atque praesentium. Aliquam laudantium vero magni impedit maiores quisquam incidunt et?
Veritatis dignissimos voluptatum odio delectus commodi voluptates eum temporibus nam laboriosam deserunt in voluptate, vitae suscipit nesciunt voluptatibus reprehenderit perferendis minima id. Aspernatur praesentium cum sint dicta repellendus, hic laborum?
Ex quis eaque, hic consequuntur enim soluta minus non animi delectus esse corporis ipsam incidunt molestias magni in aspernatur accusamus, doloribus inventore deleniti obcaecati commodi sapiente nihil dignissimos consequatur. Dignissimos.</p>

<button class="btn btn-warning">Learn More</button>











</body>
</html>